body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav a.dropdown-item {
  color: #000;
  text-align: center;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus, 
#mainNav .navbar-nav .nav-item a:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

/* .content-section {
  padding-top: 150px;
  padding-bottom: 150px;
} */

.exercises-section {
  color: white;
  background: url("../img/exercises.jpg") no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-attachment: fixed; */
}

.exercises-section a {
  margin: 20px 10px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Exercises */

.exercises, .workouts {
  margin-top: 200px;
}

.exercises .row {
  margin: 30px 0;
}

/* Modal */

.modal-content-workouts {
  background-color: transparent;
  border: none;
}

.modal-body-workouts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.modal-body-workouts a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 46, 46);
  color: #fff;
  font-size: 24px;
  padding: 15px;
  margin: 30px;
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  box-shadow: 0 0 3px 1px rgb(156, 156, 156);
}

.modal-body-workouts a:hover {
  background-color: rgb(156, 156, 156);
  color: #000;
  font-weight: 700;
  box-shadow: 0 0 3px 2px rgb(255, 255, 255);
}

.fa-pencil-alt, .fa-bookmark {
  font-size: 48px;
  margin-bottom: 10px;
}

/* Create Workout */

.workouts h1 {
  text-align: center;
}

.workouts input {
  font-weight: 700;
  color: #000;
  border: none;
  outline: none;
}

.workouts .form-control:focus {
  color: #000;
}

.workouts .form-group {
  margin-bottom: 3rem;
}

.form-group-title {
  margin-bottom: 0.5rem;
}

.exercises-list, .your-exercises {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y:auto;
  background-color: #fff;
  color: #000;
  border-radius: 0.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.exercises-list {
  height: 336px;
}

.your-exercises {
  max-height: 900px;
}

.exercises-list li {
  list-style: none;
  border-bottom: 2px solid #000;  
  padding: 8px 15px;
}

/* .exercises-list li a {
  color: #000;
  display: block;
  width: 100%;
} */

.your-exercises li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px 5px 15px;
}

.exercises-list li:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204);
}

.your-exercises-edit {
  display: flex;
  align-items: center;
}

.your-exercises-edit input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}

.your-exercises-edit input:hover,
.your-exercises-edit input:focus {
  cursor: pointer;
  border: 1px solid #000;
  /* background-color: rgb(204, 204, 204);   */
}

.your-exercises-edit span {
  text-transform: uppercase;
  margin: 0 5px;
}

.your-exercises-edit span:last-child {
  margin-left: 65px;
}

.remove-exercise {
  color: rgb(46, 46, 46);
  font-size: 18px;
  padding: 3px;
}

.remove-exercise:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);  
  font-weight: 700;
}

.form-group-numbers {
  display: flex;
  justify-content: center;
}

.form-group-numbers-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.form-group-numbers-inner input {
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 32px;
  text-align: center;
}

.form-group-numbers-inner input:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204);  
}

.form-group-numbers-inner label {
  font-size: 22px;
}

.form-group-numbers-inner div {
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.workouts .button {
  text-align: center;
  margin-top: 70px;
}
 
/* Show workouts to user */

.your-workouts {
  list-style: none;
}

.your-workouts a {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  margin: 20px 0;
  padding: 5px 15px;
  font-weight: 700;
  letter-spacing: 1px;  
  /* box-shadow: 0 0 20px 0px #000; */
}
/* #42DCA3; */

.your-workouts a:hover {
  box-shadow: 0 0 0px 4px #fff;  
}

.your-workouts-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 28px;
  text-transform: capitalize;
  max-width: 750px;
}

.your-workouts-settings {
  width: 260px;
}